/* ==============================
   SECTION 1: RESET CSS
   ============================== */
   @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;1,200&family=Roboto:wght@100;300&display=swap');
html{
    font-size: 62.5%; /*16 multipliter 62.5% = 10 rem */
    background:linear-gradient(to top, rgba(0,0,0,.7) 50%,rgba(0,0,0,.7) 70%), url(../asset/batman2.jpg)no-repeat fixed center center / cover;
}
body{
    font: 1.6rem "Roboto", sans-serif;
    margin: 0;==
    letter-spacing: 0.1rem; /* 1 px */
    line-height: 1.6;
   /* background-color: var(--bgcolor-theme); */
}
h1 ,h2 ,h3 ,p ,figure ,ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-weight: normal;
}
*{
    box-sizing: border-box;
}
ion-icon{
    vertical-align: -.4rem;
}
/* scrollbar c'est ici */
*{
    /* ff */
    scrollbar-width: thin;
    scrollbar-color: #fff #222;
}
/* webkit */
*::-webkit-scrollbar{
    width: .9rem;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 .1rem rgba(201, 176, 11, 0.3);
}
::-webkit-scrollbar-thumb{
    background-color: rgb(7, 59, 133);
    outline: .1rem solid rgb(30, 30, 1);

}